.hero{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/hero.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

.hero-text{
    text-align: left;
    max-width: 800px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.butn{
    background:rgb(123, 247, 210);
    color: rgb(65, 0, 243);
    font-weight: 600;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}