@keyframes slideBackground {
    0% {
        background-image: url('../../assets/hero.jpg');
    }
    50% {
        background-image: url('../../assets/hero2.jpg'); 
    }
    100% {
        background-image: url('../../assets/hero.jpg');
    }
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    animation: slideBackground 15s infinite; 
    padding: 0 20px;
    box-sizing: border-box;
}

.hero-text {
    text-align: left;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
    color: white;
}

.butn {
    background: rgb(123, 247, 210);
    color: rgb(65, 0, 243);
    font-weight: 600;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: background-color 0.3s ease;
}

.butn:hover {
    background-color: rgb(100, 220, 190); 
}


@media (max-width: 768px) {
    .hero-text {
        text-align: center;
        padding: 10px;
    }

    .hero-text h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .butn {
        padding: 10px 20px;
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 30px; 
        margin-bottom: 15px;
    }

    .butn {
        padding: 8px 15px; 
        font-size: 12px; 
    }
}
